*{
	margin: 0;
}
body{
	background-image: url(../background.jpg);
     display: block;
     background-size: cover;
     font-family: 'Poppins', sans-serif;

}
.container{
	width: 1140px;
	margin:0 auto;

	
}
.text{
	 width: 500px;
	float: left;
	padding-top: 83px;
	margin: 53px;
	color: #fff;


}

	
.box{
	width: 400px;
	float: right;
	border: 1px solid white;
	border-radius: 10px;
	padding: 50px;
	margin-top: 71px;
	background-color: groove;
}
     

 .text ul li{
    list-style: none;
 }
 .text h1{
 	text-transform: uppercase;
 }
 .box h1{
 	text-align: center;
 	color: #fff;}
label{
    color:#fff;
    font-size:16px;
    font-style:italic;}
span{
	color: green;
}

 .btn{
 	padding: 3%;
 	width: 100%;
 }